.booking {
	padding-top: 100px;
	padding-bottom: 100px;
	.flx-wrapper {
		display: flex;
		background-color: $dark;
		.flx-item {
			width: calc(100% / 2);
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			h2 {
				@include primary-title;
				text-align: left;
				margin-left: initial;
				&:before {
					display: none;
				}
			}
			h3 {
				@include secondaty-title;
				color: $light;
				text-align: left;
				margin-bottom: 20px;
			}
			.flx-input-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.flx-input-item {
					width: calc((100% / 2) - 7px);
				}
			}
			input,
			select {
				@include input(100%, 58px);
				margin-bottom: 14px;
			}
			textarea {
				@include input(100%, 100px);
				display: block;
				resize: none;
				padding: 15px;
				margin-bottom: 14px;
			}
			button {
				@include button(100%, 58px);
				border: none;
				cursor: pointer;
			}
			&:nth-last-child(1) {
				padding: 48px;
			}
		}
	}
	&.booking-homepage {
		padding-top: 0;
	}
}

@media screen and (max-width: 960px) {
	.booking {
		.flx-wrapper {
			flex-direction: column;
			.flx-item {
				width: 100%;
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.booking {
		padding-top: 0;
		padding-bottom: 0;
		.container {
			padding: 0;
		}
		.flx-wrapper {
			.flx-item {
				.flx-input-wrapper {
					flex-direction: column;
					.flx-input-item {
						width: 100%;
					}
				}
				&:nth-last-child(1) {
					padding: 40px 20px;
				}
			}
		}
	}
}
