.footer {
	background-color: $dark;
	padding-top: 80px;
	padding-bottom: 60px;
	.flx-wrapper {
		display: flex;
		justify-content: space-between;
		.flx-item {
			h3 {
				position: relative;
				width: fit-content;
				font-family: "Pacifico", cursive;
				color: $primary;
				font-size: 24px;
				margin-bottom: 20px;
				&:after {
					position: absolute;
					top: 50%;
					right: -60px;
					transform: translateY(-50%);
					content: "";
					width: 50px;
					height: 2px;
					background-color: $primary;
				}
			}
			ul {
				li {
					margin-bottom: 5px;
					a {
						color: $light;
						font-size: 16px;
						text-decoration: none;
						font-family: "Nunito", sans-serif;
						font-weight: 400;
						background: url("../../images/footer-arrow-right.svg") no-repeat 0
							50%;
						background-size: 6px;
						padding-left: 15px;
						transition: 0.3s;
						&:hover {
							letter-spacing: 1px;
						}
					}
					&:nth-last-child(1) {
						margin-bottom: 0;
					}
				}
			}
			.contact {
				color: $light;
				font-size: 16px;
				padding-left: 30px;
				margin-bottom: 8px;
				&.address {
					background: url("../../images/footer-map.svg") no-repeat 0 50%;
					background-size: 12px;
				}
				&.phone {
					background: url("../../images/footer-phone.svg") no-repeat 0 50%;
					background-size: 14px;
				}
				&.email {
					background: url("../../images/footer-email.svg") no-repeat 0 50%;
					background-size: 14px;
				}
				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}
			.opening {
				color: $light;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 20px;
				span {
					display: block;
					font-weight: 500;
					font-size: 20px;
				}
				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}
			.description {
				color: $light;
				font-size: 16px;
				margin-bottom: 20px;
			}
			form {
				position: relative;
				width: 100%;
				input {
					@include input(100%, 58px);
					padding-right: 100px;
				}
				button {
					@include button(85px, 42px);

					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					border: none;
					outline: none;
					cursor: pointer;
					font-size: 14px;
					font-family: "Heebo", sans-serif;
				}
			}
		}
	}
}
