.header {
	padding-top: 20px;
	padding-bottom: 96px;
	background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
		url("../images/bg-hero.jpeg") fixed no-repeat;
	background-size: cover;
	background-position: 50% var(--scroll-position-y);
	.nav {
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			align-items: center;
			img {
				display: block;
				height: 40px;
				margin-right: 16px;
			}
			span {
				display: block;
				font-family: "Nunito", sans-serif;
				font-weight: 800;
				font-size: 40px;
				color: $primary;
			}
		}
		ul {
			display: flex;
			margin-left: auto;
			margin-right: 25px;
			gap: 0 25px;
			li {
				a {
					font-size: 15px;
					text-transform: uppercase;
					color: $light;
					text-decoration: none;
					font-weight: 500;
					transition: 0.3s;
					&.active {
						color: $primary;
					}
					&:hover {
						color: $primary;
					}
				}
			}
		}
		a.book {
			@include button(165px, 42px);
		}
		button {
			display: none;
		}
	}
	h1 {
		font-family: "Nunito", sans-serif;
		font-weight: 800;
		color: $light;
		font-size: 64px;
		line-height: 77px;
		margin-bottom: 20px;
	}
	.content {
		display: flex;
		align-items: center;
		gap: 0 50px;
		padding-top: 100px;
		.block {
			width: 50%;
			overflow: hidden;
			p {
				font-size: 16px;
				color: $light;
				line-height: 24px;
				margin-bottom: 30px;
			}
			a {
				@include button(215px, 58px);
			}
			img {
				display: block;
				width: 100%;
				animation: rotate 30s linear infinite;
			}
		}
	}
	.content-page {
		padding-top: 70px;
		padding-bottom: 70px;
		h1 {
			text-align: center;
		}
		.pagin {
			text-align: center;
			text-transform: uppercase;
			color: $primary;
			font-size: 16px;
			letter-spacing: 0.5px;
			span {
				color: $light;
			}
		}
	}

	&.active-header {
		padding-top: 75px;
		.nav {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background-color: $dark;
			box-shadow: 0 0 5px 0 $dark;
			padding: 10px 20px;
			z-index: 10;
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 960px) {
	.header {
		padding-top: 75px;
		background-position: 50% 50%;
		.nav {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background-color: $dark;
			box-shadow: 0 0 5px 0 $dark;
			padding: 10px 20px;
			z-index: 10;
			ul {
				display: flex;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background-color: $dark;
				margin-right: 0;
				flex-direction: column;
				align-items: center;
				box-shadow: 0 0 20px 0 $dark;
				height: 0;
				overflow: hidden;
				opacity: 0;
				transition: 0.3s;
				li {
					margin-bottom: 20px;
					&:nth-last-child(1) {
						margin-bottom: 0;
					}
				}
				&.active {
					top: 74px;
					padding: 20px 0;
					height: auto;
					overflow: visible;
					opacity: 1;
				}
			}
			.logo {
				position: relative;
				z-index: 1;
			}
			a.book {
				position: relative;
				margin-left: auto;
				margin-right: 20px;
				z-index: 1;
			}
			button {
				position: relative;
				z-index: 1;
				display: block;
				background: transparent;
				border: none;
				img {
					display: block;
					width: 30px;
				}
			}
		}
		.content {
			flex-direction: column;
			.block {
				width: 100%;
				h1 {
					text-align: center;
					br {
						display: none;
					}
				}
				p {
					text-align: center;
				}
				a {
					margin: 0 auto;
				}
				img {
					width: 60%;
					margin: 0 auto;
				}
				&:nth-child(1) {
					margin-bottom: 40px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		.nav {
			padding: 15px 20px;
			.logo {
				span {
					font-size: 25px;
				}
				img {
					height: 25px;
					margin-right: 8px;
				}
			}
			ul {
				&.active {
					top: 58px;
				}
			}
			a.book {
				width: 120px;
				height: 38px;
				line-height: 38px;
				font-size: 14px;
			}
		}
		.content {
			.block {
				h1 {
					font-size: 45px;
					line-height: 60px;
				}
				img {
					width: 80%;
				}
			}
		}
		.content-page {
			padding-bottom: 0;
			h1 {
				font-size: 45px;
				line-height: 60px;
			}
		}
	}
}
