.our-team {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {

        .team-title {
            text-align: center;

            .mb {
                @include primary-title;
            }

            .mb-sub {
                @include secondaty-title;
            }
        }

        .flx-team-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            .flx-team-item {
                width: calc((100% / 4) - 18px);

                .team-item-content {
                    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
                    height: calc(100% - 55px);
                    transition: .5s;
                    border-radius: 2px;
                    text-align: center;
                    overflow: hidden;

                    .rounded-circle {
                        border-radius: 50%;
                        margin: 24px;
                        overflow: hidden;

                        .img-fluid {
                            vertical-align: middle;
                            overflow-clip-margin: inherit;
                            overflow: clip;
                            max-width: 100%;
                            height: auto;
                            width: 100%;
                            transition: transform 0.3s ease;
                        }
                    }

                    .fn {
                        margin-top: 0;
                        margin-bottom: 8px;
                        font-family: "Nunito", sans-serif;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 1.2;
                        color: #0F172B;
                    }

                    .small {
                        font-size: 14px;
                        padding-bottom: 20px;

                    }

                    .flx-sm {
                        padding: 10px;
                        border-radius: 10px;
                        padding-bottom: 0;
                    }

                    .flx-sm{
                        margin-bottom: -7px;
                    }
                    
                    .flx-sm img {
                        width: 40px;
                        border-radius: 38px 38px 0 0;
                        background-color: orange;
                        margin: 3px;
                        margin-bottom: 0;
                        padding: 10px;
                    }

                    .ln-social-media {
                        margin-bottom: 0;
                    }

                    &:hover {
                        height: 100%;

                        .rounded-circle {
                            .img-fluid {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .our-team {
        .container {
            .flx-team-wrapper {
                justify-content: center;
                flex-wrap: wrap;
                .flx-team-item {
                    width: calc(100% / 2.2);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .our-team {
        padding-top: 50px;
        padding-bottom: 50px;
        .container {
            .flx-team-wrapper {
                gap: 15px;
                .flx-team-item {
                    width: 100%;
                }
            }
        }
    }
}