.our-team {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {

        .team-title {
            text-align: center;

            .mb {
                @include primary-title;
            }

            .mb-sub {
                @include secondaty-title;
            }
        }

        .flx-team-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            .flx-team-item {
                width: calc((100% / 4) - 18px);
                padding: 3px;

                .team-item-content {
                    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
                    height: calc(100% - 40px);
                    transition: .5s;
                    border-radius: 2px;
                    text-align: center;
                    overflow: hidden;

                    .rounded-circle {
                        border-radius: 50%;
                        margin: 1.5rem;
                        overflow: hidden;

                        .img-fluid {
                            vertical-align: middle;
                            overflow-clip-margin: inherit;
                            overflow: clip;
                            max-width: 100%;
                            height: auto;
                            transition: transform 0.3s ease;
                        }
                    }

                    .fn {
                        margin-top: 0;
                        margin-bottom: 0.5rem;
                        font-family: "Nunito", sans-serif;
                        font-weight: 800;
                        font-size: 1.25rem;
                        line-height: 1.2;
                        color: #0F172B;
                    }

                    .small {
                        font-size: 12px;
                        padding-bottom: 10px;

                    }

                    .media-img {
                        width: 10%;
                        // inline-size: 5%;
                    }

                    &:hover {
                        height: 100%;

                        .rounded-circle {
                            .img-fluid {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}