.scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: $primary;
	border-radius: 2px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
	opacity: 0;
	z-index: -1;
	transition: 0.2s;
	img {
		display: block;
		width: 12px;
	}
	&:hover {
		background-color: $primary_hover;
	}
	&.scroll-active {
		opacity: 1;
		z-index: 10;
	}
}
