.services {
        padding: 100px 0;
    .title-wrap {
        h2 {
            @include primary-title;
        }
        h3 {
            @include secondaty-title;
        }
    }
    .row {
        padding: 20px 0;
        .col {
            svg {
                height: 50px;
            }
        }
    }
}